@charset "UTF-8";

@font-face {
    font-family:'pokemon';
    src: url('fontes/pokemon/Pokemon\ Solid.ttf') format('truetype');
}
@font-face {
    font-family:'flexo';
    src: url(fontes/flexo/Flexo.otf) format('opentype');
}
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');


body{
    background-color: rgba(211, 211, 211, 0.363);
    height: 0px;
    margin: 0px;
    padding: 0px;
}
header{
    font-family:'pokemon', serif;
    text-align: center;
    margin-top: -70px;
}
header h1{
    font-size: 3em;
    color:#FCC909;
    text-shadow: 3px 6px 0px #1744b5af;
    margin: 25px;
    padding: 11px;
    
}
main{
    min-width: 300px;
    max-width: 1075px;
    margin: auto;
    height: 700px;
}

section h1{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bolder;
    text-align: center;
    font-size: 35px;
}

div h2{
    font-family: 'flexo';
    text-align: center;
    padding: 20px;
    font-size: 2em;
}
picture img{
    display: block;
    margin: auto;
}
picture img.tipo-poke-fire{
    width: 70px;
    padding: 40px;
    margin-top: -39px;
}
picture img.tipo-poke-water{
    width: 70px;
    padding: 40px;
    margin-top: -11px;
}
picture img.tipo-poke-grass{
    width: 70px;
    padding: 40px;
    margin-top: -20px;
}
div{
    width: 327px;
    height: 562px;
    border-radius: 5px;
    position: relative;
    float:left;
    margin: 15px;
}
div.q1{
    background-color:#fd7e24d3;
}
div.q2{
    background-color: #4592C4;
}
div.q3{
    background-color: #9BCC50;
}
div p{
    text-align: center;
    margin-top: -29px;
}
div a{
    text-decoration: none;
    
}
