@charset "UTF-8";


/* Configuração para tablet */

@media screen and (min-width: 768px) and (max-width: 992px) {
    
    body{
        background-color: gray;
    }

    section{
        width: 80vw;
        height: 400px;
    }

    div h1{
    text-align: center;
    color:#056A75;
    padding: 0px;
    margin: 0px;
    font-size: 3em;
    font-weight: bold;
    }

    form >p#cadastro{
        text-align: right;
        padding-top: 20px;
        height: 50px;
        font-size: 1.2em;
        margin-left: -50px;
        
    }

    form > input[type=submit] {
        font-size: 1.5em;
        width: 50%;
        margin: auto;
    }

    div#login > input{
        width: 80%;
        
    }

}

/* Configuração para telas grandes */

@media screen and (min-width: 992px) {
    
    body{
        background-color: rgb(75, 74, 74);
    }
    
    section {
        width: 40vw;
    }

}