@charset "UTF-8";


/* Configuração para tablet */

@media screen and (min-width: 768px) and (max-width: 992px) {
    
    body{
        background-color: gray;
    }

    section{
        width: 80vw;
        height: 400px;
    }


    div h1{
    text-align: center;
    color:#056A75;
    padding: 0px;
    margin: 0px;
    font-size: 3em;
    font-weight: bold;
    }

    form >p#cadastro{
        text-align: right;
        padding-top: 15px;
        height: 50px;
        font-size: 1.2em;
        margin-left: -50px;
        
    }

    form >p#icadastro{
        text-align: right;
        padding-top: 10px;
        height: 13px;
        font-size: 1.2em;
        margin-left: -50px;
        margin-top: 5px;
        
    }

    form > input[type=submit] {
        font-size: 1.5em;
        width: 50%;
        margin: auto;
        margin-top: 10px;
    }

    div#login > input{
        width: 80%;
        margin-left: 60px;
        
    }

    div#login label{
        display: block;
        margin-bottom: 5px;
        margin-top: 7px;
        margin-left: 60px;
        color:#065c66;
        font-size: 1.2em;
    }

    form >p#check{
        padding: 10px;
        margin-left: 50px;
        color: #055861;
    }

}

/* Configuração para telas grandes */

@media screen and (min-width: 992px) {
    
    body{
        background-color: rgb(75, 74, 74);
    }
    section{
        width: 60vw;
        height: 400px;
    }


    div h1{
    text-align: center;
    color:#056A75;
    padding: 0px;
    margin: 0px;
    font-size: 3em;
    font-weight: bold;
    }

    form >p#cadastro{
        text-align: right;
        padding-top: 15px;
        height: 50px;
        font-size: 1.2em;
        margin-left: -50px;
        
    }

    form >p#icadastro{
        text-align: right;
        padding-top: 10px;
        height: 13px;
        font-size: 1.2em;
        margin-left: -50px;
        margin-top: 5px;
        
    }

    form > input[type=submit] {
        font-size: 1.5em;
        width: 50%;
        margin: auto;
        margin-top: 10px;
    }

    div#login > input{
        width: 80%;
        margin-left: 60px;
        
    }

    div#login label{
        display: block;
        margin-bottom: 5px;
        margin-top: 7px;
        margin-left: 60px;
        color:#065c66;
        font-size: 1.2em;
    }

    form >p#check{
        padding: 10px;
        margin-left: 50px;
        color: #055861;
    }
}